.navbar {
  z-index: 1;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.5vh;
  max-height: 100px;
  padding: 0 calc(7.5vw - 8px);
  background-color: transparentize($color: #1a1a1a, $amount: 0.1);

  .logo {
    cursor: pointer;
    user-select: none;
    font-size: calc(var(--ft-sz) * 1.25);
    font-weight: 700;
    transition: 300ms;
    &:hover {
      transform: scale(1.05);
    }
    &:active {
      transform: scale(0.95);
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    gap: 2vw;
    list-style: none;

    li {
      min-width: fit-content;
      transition: 300ms;
      &:hover {
        transform: scale(1.05);
      }
      &:active {
        transform: scale(0.95);
      }
      a {
        font-size: var(--ft-sz);
        font-weight: 600;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}
