.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 2px solid #ffffff;
  border-radius: 15px;

  .card-bg {
    width: 100%;
    height: 15vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .program-info {
    display: flex;
    flex-direction: column;
    padding: 7.5%;

    .card-name {
      margin-bottom: 2.5%;
    }

    .card-description {
      margin-bottom: 7.5%;
    }

    .buttonsWrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: calc(1vw + 1px);

      button {
        cursor: pointer;
        flex: 1;
        min-width: fit-content;
        background-color: inherit;
        padding: 2.5%;
        font-family: inherit;
        font-size: inherit;
        color: #ffffff;
        border: 2px solid #ffffff;
        border-radius: 5px;
        transition: 300ms;

        &:hover {
          background-color: #ffffff;
          color: #141414;
          border: 2px solid #141414;
          transform: scale(1.1);
        }
        &:active {
          transform: scale(0.9);
        }
      }
    }
  }
}

.A {
  .card-bg {
    background-image: url("../../assets/program-card__bg-1.jpg");
  }
}
.B {
  .card-bg {
    background-image: url("../../assets/program-card__bg-2.jpg");
  }
}
.C {
  .card-bg {
    background-image: url("../../assets/program-card__bg-3.jpg");
  }
}
